.list-item {
  display: flex;
  padding: .5rem 1rem;
  border-bottom: 1px solid lightgray;
}

.list-item:first-child {
  border-top: 1px solid lightgray;
}

.list-image {
  height: 3rem;
  width: auto;
  margin-right: 1rem;
}

.list-header {
  font-weight: bold;
  color: darkcyan;
}